# Question 8: Is there any way to predict spending and visits for Visit Scotland?

## Load Cleaned Data & Libraries

In [1]:
# Libraries
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import statsmodels.api as sm
from sklearn.linear_model import LinearRegression

#cleaned data
international_survey = pd.read_csv('../data/clean_data/international_survey.csv')

### Predicting expenditure

In [2]:
international_survey.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32049 entries, 0 to 32048
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   year             32049 non-null  int64
 1   country          32049 non-null  object
 2   purpose          32049 non-null  object
 3   mode             32049 non-null  object
 4   duration         32049 non-null  object
 5   age              32049 non-null  object
 6   visits_thousand  32049 non-null  float64
 7   nights_thousand  32049 non-null  float64
 8   millions_spent   32049 non-null  float64
dtypes: float64(3), int64(1), object(5)
memory usage: 2.2+ MB

In [3]:
international_survey['year'] = international_survey['year'].astype('category')

In [4]:
international_survey.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32049 entries, 0 to 32048
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   year             32049 non-null  category
 1   country          32049 non-null  object
 2   purpose          32049 non-null  object
 3   mode             32049 non-null  object
 4   duration         32049 non-null  object
 5   age              32049 non-null  object
 6   visits_thousand  32049 non-null  float64
 7   nights_thousand  32049 non-null  float64
 8   millions_spent   32049 non-null  float64
dtypes: category(1), float64(3), object(5)
memory usage: 2.0+ MB

#### Create dummy variables for categorical data

In [5]:
international_dummied = international_survey.copy()
#international_dummied.drop(columns='country', inplace=True)
international_dummied = pd.get_dummies(international_dummied, drop_first=True)
international_dummied

,visits_thousand,nights_thousand,millions_spent,year_2003,year_2004,year_2005,year_2006,year_2007,year_2008,year_2009,...,mode_Tunnel,duration_15+ nights,duration_4-7 nights,duration_8-14 nights,age_16-24,age_25-34,age_35-44,age_45-54,age_55-64,age_65+
0,0.270000,1.600000,0.160000,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
1,1.080000,4.620000,0.250000,0,0,0,0,0,0,0,...,0,0,1,0,1,0,0,0,0,0
2,0.990000,5.030000,0.810000,0,0,0,0,0,0,0,...,0,0,1,0,0,1,0,0,0,0
3,0.350000,1.800000,0.080000,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,1,0,0
4,1.660000,10.090000,0.620000,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32044,1.575168,14.176511,0.897375,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,1
32045,0.631421,3.157103,0.228890,0,0,0,0,0,0,0,...,0,0,0,1,0,1,0,0,0,0
32046,2.243179,11.633949,0.877631,0,0,0,0,0,0,0,...,0,0,0,1,0,1,0,0,0,0
32047,0.550858,1.714171,0.135526,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,1,0,0
32048,0.553057,1.147342,0.103797,0,0,0,0,0,0,0,...,0,1,0,0,0,0,1,0,0,0

#### pick appropriate predictor and response variable

In [6]:
international_predictor = international_dummied.drop(columns='millions_spent')
international_response = international_dummied.millions_spent

In [7]:
international_predictor

,visits_thousand,nights_thousand,year_2003,year_2004,year_2005,year_2006,year_2007,year_2008,year_2009,year_2010,...,mode_Tunnel,duration_15+ nights,duration_4-7 nights,duration_8-14 nights,age_16-24,age_25-34,age_35-44,age_45-54,age_55-64,age_65+
0,0.270000,1.600000,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
1,1.080000,4.620000,0,0,0,0,0,0,0,0,...,0,0,1,0,1,0,0,0,0,0
2,0.990000,5.030000,0,0,0,0,0,0,0,0,...,0,0,1,0,0,1,0,0,0,0
3,0.350000,1.800000,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,1,0,0
4,1.660000,10.090000,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32044,1.575168,14.176511,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,1
32045,0.631421,3.157103,0,0,0,0,0,0,0,0,...,0,0,0,1,0,1,0,0,0,0
32046,2.243179,11.633949,0,0,0,0,0,0,0,0,...,0,0,0,1,0,1,0,0,0,0
32047,0.550858,1.714171,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,1,0,0
32048,0.553057,1.147342,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,1,0,0,0

In [8]:
international_response

0        0.160000
1        0.250000
2        0.810000
3        0.080000
4        0.620000
           ...
32044    0.897375
32045    0.228890
32046    0.877631
32047    0.135526
32048    0.103797
Name: millions_spent, Length: 32049, dtype: float64

#### create model & check values / coef ...

In [9]:
model = LinearRegression()

model.fit(international_predictor, international_response)

LinearRegression()

In [10]:
model.score(international_predictor, international_response)

0.515521096326943

In [11]:
model.intercept_

-0.5143907518917362

In [12]:
pd.DataFrame(
  {
  "variable" : international_predictor.columns.values,
  "coefficient" : model.coef_
  }
)

           variable  coefficient
0   visits_thousand     0.538460
1   nights_thousand     0.027658
2         year_2003     0.020899
3         year_2004    -0.036725
4         year_2005    -0.048917
..              ...          ...
94        age_25-34     0.050874
95        age_35-44     0.181631
96        age_45-54     0.293741
97        age_55-64     0.304550
98          age_65+     0.327075

[99 rows x 2 columns]

In [13]:
international_predictor = sm.add_constant(international_predictor)

international_predictor

,const,visits_thousand,nights_thousand,year_2003,year_2004,year_2005,year_2006,year_2007,year_2008,year_2009,...,mode_Tunnel,duration_15+ nights,duration_4-7 nights,duration_8-14 nights,age_16-24,age_25-34,age_35-44,age_45-54,age_55-64,age_65+
0,1.0,0.270000,1.600000,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
1,1.0,1.080000,4.620000,0,0,0,0,0,0,0,...,0,0,1,0,1,0,0,0,0,0
2,1.0,0.990000,5.030000,0,0,0,0,0,0,0,...,0,0,1,0,0,1,0,0,0,0
3,1.0,0.350000,1.800000,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,1,0,0
4,1.0,1.660000,10.090000,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32044,1.0,1.575168,14.176511,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,1
32045,1.0,0.631421,3.157103,0,0,0,0,0,0,0,...,0,0,0,1,0,1,0,0,0,0
32046,1.0,2.243179,11.633949,0,0,0,0,0,0,0,...,0,0,0,1,0,1,0,0,0,0
32047,1.0,0.550858,1.714171,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,1,0,0
32048,1.0,0.553057,1.147342,0,0,0,0,0,0,0,...,0,1,0,0,0,0,1,0,0,0

In [14]:
sm_model = sm.OLS(international_response, international_predictor).fit()

print(sm_model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:         millions_spent   R-squared:                       0.516
Model:                            OLS   Adj. R-squared:                  0.514
Method:                 Least Squares   F-statistic:                     343.4
Date:                Thu, 16 Feb 2023   Prob (F-statistic):               0.00
Time:                        12:23:44   Log-Likelihood:                -59463.
No. Observations:               32049   AIC:                         1.191e+05
Df Residuals:                   31949   BIC:                         1.200e+05
Df Model:                          99
Covariance Type:            nonrobust
===================================================================================================
                                      coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------------------------
const                              -0.5144      0.166     -3.097      0.002      -0.840      -0.189
visits_thousand                     0.5385      0.006     94.090      0.000       0.527       0.550
nights_thousand                     0.0277      0.000     77.367      0.000       0.027       0.028
year_2003                           0.0209      0.057      0.369      0.712      -0.090       0.132
year_2004                          -0.0367      0.056     -0.656      0.512      -0.146       0.073
year_2005                          -0.0489      0.054     -0.910      0.363      -0.154       0.056
year_2006                          -0.0193      0.053     -0.361      0.718      -0.124       0.085
year_2007                          -0.0417      0.054     -0.776      0.437      -0.147       0.064
year_2008                           0.0074      0.056      0.132      0.895      -0.102       0.117
year_2009                           0.0917      0.052      1.757      0.079      -0.011       0.194
year_2010                           0.1760      0.053      3.341      0.001       0.073       0.279
year_2011                           0.2164      0.054      4.017      0.000       0.111       0.322
year_2012                           0.2136      0.054      3.956      0.000       0.108       0.319
year_2013                           0.2888      0.053      5.440      0.000       0.185       0.393
year_2014                           0.2879      0.054      5.321      0.000       0.182       0.394
year_2015                           0.2197      0.054      4.057      0.000       0.114       0.326
year_2016                           0.2684      0.055      4.905      0.000       0.161       0.376
year_2017                           0.2957      0.055      5.341      0.000       0.187       0.404
year_2018                           0.1590      0.056      2.819      0.005       0.048       0.270
year_2019                           0.3092      0.056      5.547      0.000       0.200       0.419
country_Australia                   0.1290      0.156      0.829      0.407      -0.176       0.434
country_Austria                     0.1120      0.173      0.649      0.516      -0.226       0.450
country_Belgium                     0.0581      0.162      0.359      0.720      -0.260       0.376
country_Brazil                     -0.0114      0.186     -0.062      0.951      -0.375       0.352
country_Bulgaria                   -0.3813      0.257     -1.483      0.138      -0.885       0.123
country_C'wealth Caribbean          0.2452      0.212      1.157      0.247      -0.170       0.661
country_Canada                      0.0501      0.156      0.321      0.749      -0.256       0.356
country_China                       0.2433      0.168      1.449      0.147      -0.086       0.572
country_Czech Republic             -0.3977      0.183     -2.172      0.030      -0.757      -0.039
country_Denmark                    -0.0736      0.169     -0.436      0.663      -0.404       0.257
country_Egypt                       0.0894      0.238      0.376      0.707      -0.377       0.556
country_Finland                    -0.0212      0.186     -0.114      0.910      -0.386       0.344
country_Former Yugoslavia          -0.2218      0.216     -1.025      0.305      -0.646       0.202
country_France                     -0.1663      0.157     -1.061      0.289      -0.474       0.141
country_Germany                    -0.1327      0.155     -0.854      0.393      -0.437       0.172
country_Gibraltar/Malta/Cyprus      0.1793      0.188      0.956      0.339      -0.188       0.547
country_Greece                      0.1027      0.191      0.538      0.591      -0.271       0.477
country_Hong Kong                   0.0199      0.171      0.116      0.908      -0.316       0.356
country_Hungary                    -0.3405      0.193     -1.766      0.077      -0.719       0.037
country_Iceland                     0.1326      0.178      0.744      0.457      -0.217       0.482
country_India                      -0.1586      0.164     -0.969      0.333      -0.480       0.162
country_Irish Republic             -0.3148      0.159     -1.974      0.048      -0.627      -0.002
country_Israel                      0.0325      0.196      0.165      0.869      -0.353       0.417
country_Italy                      -0.2377      0.161     -1.475      0.140      -0.554       0.078
country_Japan                       0.1058      0.170      0.622      0.534      -0.227       0.439
country_Kenya                       0.3337      0.262      1.274      0.203      -0.180       0.847
country_Kuwait                      0.2353      0.220      1.072      0.284      -0.195       0.666
country_Luxembourg                  0.0799      0.233      0.342      0.732      -0.378       0.537
country_Malaysia                    0.1081      0.177      0.612      0.541      -0.238       0.454
country_Mexico                     -0.1649      0.218     -0.757      0.449      -0.592       0.262
country_Namibia                     0.1698      0.651      0.261      0.794      -1.106       1.446
country_Netherlands                -0.0210      0.157     -0.134      0.893      -0.329       0.287
country_New Zealand                 0.1097      0.164      0.669      0.503      -0.212       0.431
country_Nigeria                     0.3306      0.200      1.650      0.099      -0.062       0.723
country_Non CW C&S America          0.2622      0.539      0.487      0.626      -0.794       1.318
country_Norway                      0.0307      0.163      0.188      0.851      -0.288       0.350
country_Oth.E C'wealth Africa       0.1979      0.220      0.901      0.368      -0.233       0.629
country_Oth.Non C'Wealth Africa     0.3521      0.248      1.420      0.155      -0.134       0.838
country_Oth.W C'wealth Africa      -0.1188      0.346     -0.344      0.731      -0.796       0.558
country_Other E.Europe             -0.2730      0.172     -1.589      0.112      -0.610       0.064
country_Other Gulf States           0.3835      0.185      2.075      0.038       0.021       0.746
country_Other Middle East           0.2814      0.225      1.248      0.212      -0.160       0.723
country_Other North Africa         -0.0573      0.284     -0.202      0.840      -0.613       0.499
country_Pakistan                   -0.0517      0.191     -0.270      0.787      -0.427       0.324
country_Poland                     -0.8042      0.164     -4.917      0.000      -1.125      -0.484
country_Portugal                   -0.0738      0.189     -0.392      0.695      -0.443       0.296
country_Rest of Asia                0.1256      0.238      0.528      0.598      -0.341       0.592
country_Rest of Latin America       0.0543      0.204      0.266      0.790      -0.346       0.455
country_Rest of SE Asia             0.1725      0.179      0.964      0.335      -0.178       0.523
country_Romania                    -0.3052      0.197     -1.546      0.122      -0.692       0.082
country_Russia                     -0.0234      0.178     -0.131      0.896      -0.372       0.325
country_Saudi Arabia                0.3034      0.196      1.545      0.122      -0.082       0.688
country_Singapore                   0.3590      0.176      2.044      0.041       0.015       0.703
country_South Africa                0.1236      0.164      0.751      0.452      -0.199       0.446
country_South Korea                 0.4504      0.201      2.240      0.025       0.056       0.844
country_Spain                      -0.2304      0.159     -1.448      0.148      -0.542       0.081
country_Sweden                     -0.0529      0.163     -0.324      0.746      -0.372       0.267
country_Switzerland                 0.0757      0.163      0.463      0.643      -0.245       0.396
country_Taiwan                      0.0738      0.196      0.377      0.706      -0.310       0.457
country_Thailand                   -0.0346      0.188     -0.185      0.854      -0.402       0.333
country_Turkey                     -0.3133      0.207     -1.513      0.130      -0.719       0.093
country_USA                         0.3138      0.154      2.031      0.042       0.011       0.617
country_United Arab Emirates        0.3038      0.164      1.847      0.065      -0.019       0.626
country_Venezuela                   0.6802      0.473      1.439      0.150      -0.246       1.607
country_Zimbabwe                    0.0366      0.331      0.111      0.912      -0.611       0.685
purpose_Holiday                    -0.1048      0.026     -4.015      0.000      -0.156      -0.054
purpose_Other                      -0.0158      0.045     -0.347      0.729      -0.105       0.073
purpose_Study                       0.2883      0.080      3.617      0.000       0.132       0.445
purpose_VFR                        -0.4240      0.027    -15.605      0.000      -0.477      -0.371
mode_Sea                           -0.1585      0.029     -5.376      0.000      -0.216      -0.101
mode_Tunnel                        -0.3015      0.051     -5.891      0.000      -0.402      -0.201
duration_15+ nights                 0.1377      0.032      4.291      0.000       0.075       0.201
duration_4-7 nights                 0.2289      0.027      8.606      0.000       0.177       0.281
duration_8-14 nights                0.2788      0.029      9.607      0.000       0.222       0.336
age_16-24                          -0.0577      0.050     -1.156      0.248      -0.155       0.040
age_25-34                           0.0509      0.047      1.081      0.280      -0.041       0.143
age_35-44                           0.1816      0.047      3.837      0.000       0.089       0.274
age_45-54                           0.2937      0.047      6.236      0.000       0.201       0.386
age_55-64                           0.3045      0.048      6.304      0.000       0.210       0.399
age_65+                             0.3271      0.052      6.268      0.000       0.225       0.429
==============================================================================
Omnibus:                    57255.742   Durbin-Watson:                   1.848
Prob(Omnibus):                  0.000   Jarque-Bera (JB):        162027284.987
Skew:                          12.632   Prob(JB):                         0.00
Kurtosis:                     350.414   Cond. No.                     4.63e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 4.63e+03. This might indicate that there are
strong multicollinearity or other numerical problems.