# Question 8: Is there any way to predict spending and visits for Visit Scotland?

## Load Cleaned Data & Libraries

In [1]:
# Libraries
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import statsmodels.api as sm
from sklearn.linear_model import LinearRegression

#cleaned data
international_survey = pd.read_csv('../data/clean_data/international_survey.csv')

### Predicting expenditure

In [2]:
international_survey.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32049 entries, 0 to 32048
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   year             32049 non-null  int64
 1   country          32049 non-null  object
 2   purpose          32049 non-null  object
 3   mode             32049 non-null  object
 4   duration         32049 non-null  object
 5   age              32049 non-null  object
 6   visits_thousand  32049 non-null  float64
 7   nights_thousand  32049 non-null  float64
 8   millions_spent   32049 non-null  float64
dtypes: float64(3), int64(1), object(5)
memory usage: 2.2+ MB

In [3]:
#international_survey['year'] = international_survey['year'].astype('category')

In [4]:
international_survey.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32049 entries, 0 to 32048
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   year             32049 non-null  int64
 1   country          32049 non-null  object
 2   purpose          32049 non-null  object
 3   mode             32049 non-null  object
 4   duration         32049 non-null  object
 5   age              32049 non-null  object
 6   visits_thousand  32049 non-null  float64
 7   nights_thousand  32049 non-null  float64
 8   millions_spent   32049 non-null  float64
dtypes: float64(3), int64(1), object(5)
memory usage: 2.2+ MB

#### Create dummy variables for categorical data

In [5]:
international_dummied = international_survey.copy()
#international_dummied.drop(columns='country', inplace=True)
international_dummied = pd.get_dummies(international_dummied, drop_first=True)
international_dummied

,year,visits_thousand,nights_thousand,millions_spent,country_Australia,country_Austria,country_Belgium,country_Brazil,country_Bulgaria,country_C'wealth Caribbean,...,mode_Tunnel,duration_15+ nights,duration_4-7 nights,duration_8-14 nights,age_16-24,age_25-34,age_35-44,age_45-54,age_55-64,age_65+
0,2002,0.270000,1.600000,0.160000,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
1,2002,1.080000,4.620000,0.250000,0,0,0,0,0,0,...,0,0,1,0,1,0,0,0,0,0
2,2002,0.990000,5.030000,0.810000,0,0,0,0,0,0,...,0,0,1,0,0,1,0,0,0,0
3,2002,0.350000,1.800000,0.080000,0,0,0,0,0,0,...,0,0,1,0,0,0,0,1,0,0
4,2002,1.660000,10.090000,0.620000,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32044,2019,1.575168,14.176511,0.897375,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,1
32045,2019,0.631421,3.157103,0.228890,0,0,0,0,0,0,...,0,0,0,1,0,1,0,0,0,0
32046,2019,2.243179,11.633949,0.877631,0,0,0,0,0,0,...,0,0,0,1,0,1,0,0,0,0
32047,2019,0.550858,1.714171,0.135526,0,0,0,0,0,0,...,0,0,0,1,0,0,0,1,0,0
32048,2019,0.553057,1.147342,0.103797,0,0,0,0,0,0,...,0,1,0,0,0,0,1,0,0,0

#### pick appropriate predictor and response variable

In [6]:
international_predictor = international_dummied.drop(columns='millions_spent')
international_response = international_dummied.millions_spent

In [7]:
international_predictor

,year,visits_thousand,nights_thousand,country_Australia,country_Austria,country_Belgium,country_Brazil,country_Bulgaria,country_C'wealth Caribbean,country_Canada,...,mode_Tunnel,duration_15+ nights,duration_4-7 nights,duration_8-14 nights,age_16-24,age_25-34,age_35-44,age_45-54,age_55-64,age_65+
0,2002,0.270000,1.600000,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
1,2002,1.080000,4.620000,0,0,0,0,0,0,0,...,0,0,1,0,1,0,0,0,0,0
2,2002,0.990000,5.030000,0,0,0,0,0,0,0,...,0,0,1,0,0,1,0,0,0,0
3,2002,0.350000,1.800000,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,1,0,0
4,2002,1.660000,10.090000,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32044,2019,1.575168,14.176511,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,1
32045,2019,0.631421,3.157103,0,0,0,0,0,0,0,...,0,0,0,1,0,1,0,0,0,0
32046,2019,2.243179,11.633949,0,0,0,0,0,0,0,...,0,0,0,1,0,1,0,0,0,0
32047,2019,0.550858,1.714171,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,1,0,0
32048,2019,0.553057,1.147342,0,0,0,0,0,0,0,...,0,1,0,0,0,0,1,0,0,0

In [8]:
international_response

0        0.160000
1        0.250000
2        0.810000
3        0.080000
4        0.620000
           ...
32044    0.897375
32045    0.228890
32046    0.877631
32047    0.135526
32048    0.103797
Name: millions_spent, Length: 32049, dtype: float64

#### create model & check values / coef ...

In [9]:
model = LinearRegression()

model.fit(international_predictor, international_response)

LinearRegression()

In [10]:
model.score(international_predictor, international_response)

0.5147092983880975

In [11]:
model.intercept_

-46.48176447325952

In [12]:
pd.DataFrame(
  {
  "variable" : international_predictor.columns.values,
  "coefficient" : model.coef_
  }
)

             variable  coefficient
0                year     0.022932
1     visits_thousand     0.535163
2     nights_thousand     0.027641
3   country_Australia     0.132380
4     country_Austria     0.124127
..                ...          ...
78          age_25-34     0.050338
79          age_35-44     0.179584
80          age_45-54     0.293061
81          age_55-64     0.304350
82            age_65+     0.325697

[83 rows x 2 columns]

In [13]:
international_predictor = sm.add_constant(international_predictor)

international_predictor

,const,year,visits_thousand,nights_thousand,country_Australia,country_Austria,country_Belgium,country_Brazil,country_Bulgaria,country_C'wealth Caribbean,...,mode_Tunnel,duration_15+ nights,duration_4-7 nights,duration_8-14 nights,age_16-24,age_25-34,age_35-44,age_45-54,age_55-64,age_65+
0,1.0,2002,0.270000,1.600000,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
1,1.0,2002,1.080000,4.620000,0,0,0,0,0,0,...,0,0,1,0,1,0,0,0,0,0
2,1.0,2002,0.990000,5.030000,0,0,0,0,0,0,...,0,0,1,0,0,1,0,0,0,0
3,1.0,2002,0.350000,1.800000,0,0,0,0,0,0,...,0,0,1,0,0,0,0,1,0,0
4,1.0,2002,1.660000,10.090000,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32044,1.0,2019,1.575168,14.176511,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,1
32045,1.0,2019,0.631421,3.157103,0,0,0,0,0,0,...,0,0,0,1,0,1,0,0,0,0
32046,1.0,2019,2.243179,11.633949,0,0,0,0,0,0,...,0,0,0,1,0,1,0,0,0,0
32047,1.0,2019,0.550858,1.714171,0,0,0,0,0,0,...,0,0,0,1,0,0,0,1,0,0
32048,1.0,2019,0.553057,1.147342,0,0,0,0,0,0,...,0,1,0,0,0,0,1,0,0,0

In [14]:
sm_model = sm.OLS(international_response, international_predictor).fit()

print(sm_model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:         millions_spent   R-squared:                       0.515
Model:                            OLS   Adj. R-squared:                  0.513
Method:                 Least Squares   F-statistic:                     408.5
Date:                Fri, 17 Feb 2023   Prob (F-statistic):               0.00
Time:                        12:31:47   Log-Likelihood:                -59490.
No. Observations:               32049   AIC:                         1.191e+05
Df Residuals:                   31965   BIC:                         1.199e+05
Df Model:                          83
Covariance Type:            nonrobust
===================================================================================================
                                      coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------------------------
const                             -46.4818      3.603    -12.901      0.000     -53.544     -39.420
year                                0.0229      0.002     12.812      0.000       0.019       0.026
visits_thousand                     0.5352      0.006     94.048      0.000       0.524       0.546
nights_thousand                     0.0276      0.000     77.312      0.000       0.027       0.028
country_Australia                   0.1324      0.156      0.850      0.395      -0.173       0.438
country_Austria                     0.1241      0.173      0.719      0.472      -0.214       0.462
country_Belgium                     0.0562      0.162      0.347      0.729      -0.261       0.374
country_Brazil                     -0.0003      0.186     -0.002      0.999      -0.364       0.364
country_Bulgaria                   -0.3786      0.257     -1.472      0.141      -0.883       0.125
country_C'wealth Caribbean          0.2558      0.212      1.207      0.228      -0.160       0.671
country_Canada                      0.0549      0.156      0.351      0.725      -0.251       0.361
country_China                       0.2490      0.168      1.483      0.138      -0.080       0.578
country_Czech Republic             -0.3933      0.183     -2.147      0.032      -0.752      -0.034
country_Denmark                    -0.0597      0.169     -0.354      0.724      -0.391       0.271
country_Egypt                       0.0947      0.238      0.398      0.691      -0.372       0.561
country_Finland                    -0.0095      0.186     -0.051      0.959      -0.375       0.355
country_Former Yugoslavia          -0.2151      0.216     -0.994      0.320      -0.639       0.209
country_France                     -0.1622      0.157     -1.034      0.301      -0.470       0.145
country_Germany                    -0.1265      0.155     -0.814      0.416      -0.431       0.178
country_Gibraltar/Malta/Cyprus      0.1856      0.188      0.989      0.323      -0.182       0.553
country_Greece                      0.1090      0.191      0.571      0.568      -0.265       0.483
country_Hong Kong                   0.0237      0.171      0.138      0.890      -0.312       0.360
country_Hungary                    -0.3360      0.193     -1.742      0.082      -0.714       0.042
country_Iceland                     0.1294      0.178      0.726      0.468      -0.220       0.479
country_India                      -0.1563      0.164     -0.954      0.340      -0.477       0.165
country_Irish Republic             -0.3122      0.159     -1.957      0.050      -0.625       0.000
country_Israel                      0.0417      0.197      0.212      0.832      -0.344       0.427
country_Italy                      -0.2375      0.161     -1.474      0.141      -0.553       0.078
country_Japan                       0.1111      0.170      0.653      0.514      -0.222       0.444
country_Kenya                       0.3426      0.262      1.308      0.191      -0.171       0.856
country_Kuwait                      0.2365      0.220      1.077      0.282      -0.194       0.667
country_Luxembourg                  0.0823      0.234      0.353      0.724      -0.375       0.540
country_Malaysia                    0.1075      0.177      0.608      0.543      -0.239       0.454
country_Mexico                     -0.1519      0.218     -0.698      0.485      -0.579       0.275
country_Namibia                     0.1864      0.651      0.286      0.775      -1.090       1.463
country_Netherlands                -0.0147      0.157     -0.094      0.925      -0.322       0.293
country_New Zealand                 0.1076      0.164      0.656      0.512      -0.214       0.429
country_Nigeria                     0.3182      0.200      1.588      0.112      -0.075       0.711
country_Non CW C&S America          0.2737      0.539      0.508      0.612      -0.783       1.330
country_Norway                      0.0323      0.163      0.198      0.843      -0.287       0.351
country_Oth.E C'wealth Africa       0.2084      0.220      0.948      0.343      -0.222       0.639
country_Oth.Non C'Wealth Africa     0.3383      0.248      1.365      0.172      -0.148       0.824
country_Oth.W C'wealth Africa      -0.1131      0.346     -0.327      0.744      -0.791       0.564
country_Other E.Europe             -0.2698      0.172     -1.570      0.116      -0.607       0.067
country_Other Gulf States           0.3861      0.185      2.088      0.037       0.024       0.748
country_Other Middle East           0.2871      0.225      1.273      0.203      -0.155       0.729
country_Other North Africa         -0.0499      0.284     -0.176      0.860      -0.606       0.506
country_Pakistan                   -0.0553      0.192     -0.289      0.773      -0.431       0.320
country_Poland                     -0.7968      0.164     -4.871      0.000      -1.117      -0.476
country_Portugal                   -0.0755      0.189     -0.400      0.689      -0.445       0.294
country_Rest of Asia                0.1251      0.238      0.526      0.599      -0.341       0.592
country_Rest of Latin America       0.0520      0.204      0.254      0.799      -0.349       0.453
country_Rest of SE Asia             0.1766      0.179      0.986      0.324      -0.174       0.528
country_Romania                    -0.3022      0.197     -1.531      0.126      -0.689       0.085
country_Russia                     -0.0087      0.178     -0.049      0.961      -0.357       0.340
country_Saudi Arabia                0.3164      0.196      1.610      0.107      -0.069       0.702
country_Singapore                   0.3676      0.176      2.092      0.036       0.023       0.712
country_South Africa                0.1231      0.165      0.748      0.455      -0.199       0.446
country_South Korea                 0.4618      0.201      2.296      0.022       0.068       0.856
country_Spain                      -0.2251      0.159     -1.415      0.157      -0.537       0.087
country_Sweden                     -0.0563      0.163     -0.345      0.730      -0.376       0.263
country_Switzerland                 0.0862      0.164      0.527      0.598      -0.234       0.407
country_Taiwan                      0.0753      0.196      0.385      0.701      -0.308       0.459
country_Thailand                   -0.0243      0.188     -0.130      0.897      -0.392       0.343
country_Turkey                     -0.3054      0.207     -1.474      0.141      -0.712       0.101
country_USA                         0.3212      0.155      2.078      0.038       0.018       0.624
country_United Arab Emirates        0.3110      0.165      1.890      0.059      -0.012       0.633
country_Venezuela                   0.6986      0.473      1.477      0.140      -0.228       1.626
country_Zimbabwe                    0.0220      0.331      0.066      0.947      -0.626       0.670
purpose_Holiday                    -0.1100      0.026     -4.217      0.000      -0.161      -0.059
purpose_Other                      -0.0221      0.045     -0.486      0.627      -0.111       0.067
purpose_Study                       0.2763      0.080      3.466      0.001       0.120       0.433
purpose_VFR                        -0.4300      0.027    -15.832      0.000      -0.483      -0.377
mode_Sea                           -0.1533      0.029     -5.202      0.000      -0.211      -0.096
mode_Tunnel                        -0.2981      0.051     -5.823      0.000      -0.398      -0.198
duration_15+ nights                 0.1434      0.032      4.469      0.000       0.081       0.206
duration_4-7 nights                 0.2309      0.027      8.681      0.000       0.179       0.283
duration_8-14 nights                0.2835      0.029      9.768      0.000       0.227       0.340
age_16-24                          -0.0592      0.050     -1.186      0.236      -0.157       0.039
age_25-34                           0.0503      0.047      1.070      0.285      -0.042       0.143
age_35-44                           0.1796      0.047      3.794      0.000       0.087       0.272
age_45-54                           0.2931      0.047      6.221      0.000       0.201       0.385
age_55-64                           0.3043      0.048      6.299      0.000       0.210       0.399
age_65+                             0.3257      0.052      6.239      0.000       0.223       0.428
==============================================================================
Omnibus:                    57264.398   Durbin-Watson:                   1.844
Prob(Omnibus):                  0.000   Jarque-Bera (JB):        161905316.008
Skew:                          12.637   Prob(JB):                         0.00
Kurtosis:                     350.282   Cond. No.                     8.37e+05
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 8.37e+05. This might indicate that there are
strong multicollinearity or other numerical problems.

### Predicting expenditure on clustered data

to see how the data has been clustered see [here...](q8_clustering.ipynb)

#### Load clustered dataset

In [15]:
clustered_survey = pd.read_csv('../data/clean_data/int_survey_clustered.csv')

In [16]:
clustered_survey.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32049 entries, 0 to 32048
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   year             32049 non-null  int64
 1   country          32049 non-null  object
 2   purpose          32049 non-null  object
 3   mode             32049 non-null  object
 4   duration         32049 non-null  object
 5   age              32049 non-null  object
 6   visits_thousand  32049 non-null  float64
 7   nights_thousand  32049 non-null  float64
 8   millions_spent   32049 non-null  float64
 9   clusters         32049 non-null  int64
 10  cluster_tag      32049 non-null  object
dtypes: float64(3), int64(2), object(6)
memory usage: 2.7+ MB

In [17]:
#clustered_survey['year'] = clustered_survey['year'].astype('category')

#create dummies
cluster_dum = clustered_survey.copy()
#cluster_dum.drop(columns={'country','clusters'}, inplace=True)
#cluster_dum.drop(columns='clusters', inplace=True)
cluster_dum = pd.get_dummies(cluster_dum, drop_first=True)
cluster_dum

,year,visits_thousand,nights_thousand,millions_spent,clusters,country_Australia,country_Austria,country_Belgium,country_Brazil,country_Bulgaria,...,duration_4-7 nights,duration_8-14 nights,age_16-24,age_25-34,age_35-44,age_45-54,age_55-64,age_65+,cluster_tag_medium_spenders,cluster_tag_small_spenders
0,2002,0.270000,1.600000,0.160000,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,1
1,2002,1.080000,4.620000,0.250000,0,0,0,0,0,0,...,1,0,1,0,0,0,0,0,0,1
2,2002,0.990000,5.030000,0.810000,0,0,0,0,0,0,...,1,0,0,1,0,0,0,0,0,1
3,2002,0.350000,1.800000,0.080000,0,0,0,0,0,0,...,1,0,0,0,0,1,0,0,0,1
4,2002,1.660000,10.090000,0.620000,0,0,0,0,0,0,...,1,0,0,0,0,0,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32044,2019,1.575168,14.176511,0.897375,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,1
32045,2019,0.631421,3.157103,0.228890,0,0,0,0,0,0,...,0,1,0,1,0,0,0,0,0,1
32046,2019,2.243179,11.633949,0.877631,0,0,0,0,0,0,...,0,1,0,1,0,0,0,0,0,1
32047,2019,0.550858,1.714171,0.135526,0,0,0,0,0,0,...,0,1,0,0,0,1,0,0,0,1
32048,2019,0.553057,1.147342,0.103797,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1

In [18]:
clustered_predictor = cluster_dum.drop(columns='millions_spent')
clustered_response = cluster_dum.millions_spent

#### create model

In [19]:
model = LinearRegression()

model.fit(clustered_predictor, clustered_response)

LinearRegression()

In [20]:
model.score(clustered_predictor, clustered_response)

0.6666036883887174

In [21]:
clustered_predictor = sm.add_constant(clustered_predictor)

sm_model = sm.OLS(clustered_response, clustered_predictor).fit()

print(sm_model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:         millions_spent   R-squared:                       0.667
Model:                            OLS   Adj. R-squared:                  0.666
Method:                 Least Squares   F-statistic:                     751.9
Date:                Fri, 17 Feb 2023   Prob (F-statistic):               0.00
Time:                        12:31:48   Log-Likelihood:                -53474.
No. Observations:               32049   AIC:                         1.071e+05
Df Residuals:                   31963   BIC:                         1.078e+05
Df Model:                          85
Covariance Type:            nonrobust
===================================================================================================
                                      coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------------------------
const                             -19.0533      1.794    -10.620      0.000     -22.570     -15.537
year                                0.0185      0.001     12.439      0.000       0.016       0.021
visits_thousand                     0.2438      0.006     39.925      0.000       0.232       0.256
nights_thousand                     0.0068      0.000     19.635      0.000       0.006       0.007
clusters                           -8.3304      0.598    -13.927      0.000      -9.503      -7.158
country_Australia                   0.2049      0.129      1.587      0.113      -0.048       0.458
country_Austria                     0.2454      0.143      1.715      0.086      -0.035       0.526
country_Belgium                     0.2171      0.134      1.616      0.106      -0.046       0.480
country_Brazil                      0.1226      0.154      0.797      0.426      -0.179       0.424
country_Bulgaria                   -0.0150      0.213     -0.071      0.944      -0.433       0.403
country_C'wealth Caribbean          0.2703      0.176      1.538      0.124      -0.074       0.615
country_Canada                      0.1912      0.130      1.476      0.140      -0.063       0.445
country_China                       0.3418      0.139      2.456      0.014       0.069       0.615
country_Czech Republic             -0.0122      0.152     -0.080      0.936      -0.310       0.285
country_Denmark                     0.1424      0.140      1.017      0.309      -0.132       0.417
country_Egypt                       0.1512      0.197      0.766      0.443      -0.235       0.538
country_Finland                     0.1114      0.154      0.721      0.471      -0.191       0.414
country_Former Yugoslavia          -0.0632      0.179     -0.352      0.725      -0.415       0.288
country_France                      0.1321      0.130      1.016      0.310      -0.123       0.387
country_Germany                     0.1385      0.129      1.075      0.283      -0.114       0.391
country_Gibraltar/Malta/Cyprus      0.2334      0.156      1.501      0.133      -0.071       0.538
country_Greece                      0.3046      0.158      1.925      0.054      -0.006       0.615
country_Hong Kong                   0.0702      0.142      0.494      0.621      -0.208       0.349
country_Hungary                    -0.0620      0.160     -0.387      0.698      -0.375       0.252
country_Iceland                     0.2487      0.148      1.683      0.092      -0.041       0.538
country_India                      -0.0192      0.136     -0.141      0.888      -0.285       0.247
country_Irish Republic              0.0016      0.132      0.012      0.991      -0.258       0.261
country_Israel                      0.0981      0.163      0.602      0.547      -0.221       0.417
country_Italy                       0.0669      0.134      0.501      0.616      -0.195       0.329
country_Japan                       0.2129      0.141      1.510      0.131      -0.063       0.489
country_Kenya                       0.2899      0.217      1.335      0.182      -0.136       0.716
country_Kuwait                      0.1949      0.182      1.071      0.284      -0.162       0.552
country_Luxembourg                  0.2142      0.194      1.107      0.268      -0.165       0.594
country_Malaysia                    0.1020      0.147      0.696      0.486      -0.185       0.389
country_Mexico                     -0.0796      0.181     -0.441      0.659      -0.433       0.274
country_Namibia                     0.2107      0.540      0.390      0.696      -0.847       1.269
country_Netherlands                 0.1809      0.130      1.390      0.164      -0.074       0.436
country_New Zealand                 0.0891      0.136      0.656      0.512      -0.177       0.356
country_Nigeria                     0.2171      0.166      1.307      0.191      -0.109       0.543
country_Non CW C&S America          0.3392      0.447      0.759      0.448      -0.537       1.215
country_Norway                      0.2217      0.135      1.643      0.100      -0.043       0.486
country_Oth.E C'wealth Africa       0.1788      0.182      0.982      0.326      -0.178       0.536
country_Oth.Non C'Wealth Africa     0.3881      0.206      1.888      0.059      -0.015       0.791
country_Oth.W C'wealth Africa       0.0042      0.287      0.015      0.988      -0.557       0.566
country_Other E.Europe              0.0475      0.142      0.333      0.739      -0.232       0.327
country_Other Gulf States           0.3676      0.153      2.399      0.016       0.067       0.668
country_Other Middle East           0.2514      0.187      1.345      0.179      -0.115       0.618
country_Other North Africa         -0.0658      0.235     -0.280      0.780      -0.527       0.395
country_Pakistan                   -0.0696      0.159     -0.439      0.661      -0.381       0.242
country_Poland                     -0.3210      0.136     -2.367      0.018      -0.587      -0.055
country_Portugal                    0.1378      0.156      0.882      0.378      -0.169       0.444
country_Rest of Asia                0.1115      0.197      0.565      0.572      -0.275       0.498
country_Rest of Latin America       0.1119      0.169      0.660      0.509      -0.220       0.444
country_Rest of SE Asia             0.2034      0.148      1.370      0.171      -0.088       0.494
country_Romania                    -0.0011      0.164     -0.007      0.995      -0.322       0.320
country_Russia                      0.1003      0.147      0.680      0.497      -0.189       0.389
country_Saudi Arabia                0.3092      0.163      1.898      0.058      -0.010       0.628
country_Singapore                   0.3949      0.146      2.712      0.007       0.109       0.680
country_South Africa                0.0796      0.136      0.583      0.560      -0.188       0.347
country_South Korea                 0.3812      0.167      2.286      0.022       0.054       0.708
country_Spain                       0.0486      0.132      0.368      0.713      -0.210       0.307
country_Sweden                      0.1653      0.135      1.223      0.221      -0.100       0.430
country_Switzerland                 0.2582      0.136      1.904      0.057      -0.008       0.524
country_Taiwan                      0.1216      0.162      0.750      0.453      -0.196       0.440
country_Thailand                    0.0280      0.155      0.180      0.857      -0.277       0.333
country_Turkey                     -0.0690      0.172     -0.402      0.688      -0.406       0.268
country_USA                         0.3515      0.128      2.744      0.006       0.100       0.603
country_United Arab Emirates        0.3555      0.136      2.606      0.009       0.088       0.623
country_Venezuela                   0.6083      0.392      1.552      0.121      -0.160       1.377
country_Zimbabwe                   -0.0160      0.274     -0.059      0.953      -0.553       0.521
purpose_Holiday                    -0.0492      0.022     -2.272      0.023      -0.092      -0.007
purpose_Other                       0.0125      0.038      0.332      0.740      -0.061       0.086
purpose_Study                       0.1914      0.066      2.897      0.004       0.062       0.321
purpose_VFR                        -0.3180      0.023    -14.110      0.000      -0.362      -0.274
mode_Sea                           -0.2297      0.024     -9.389      0.000      -0.278      -0.182
mode_Tunnel                        -0.2529      0.042     -5.955      0.000      -0.336      -0.170
duration_15+ nights                 0.3429      0.027     12.852      0.000       0.291       0.395
duration_4-7 nights                 0.2314      0.022     10.485      0.000       0.188       0.275
duration_8-14 nights                0.3310      0.024     13.751      0.000       0.284       0.378
age_16-24                          -0.0115      0.041     -0.279      0.781      -0.093       0.070
age_25-34                           0.0997      0.039      2.554      0.011       0.023       0.176
age_35-44                           0.1949      0.039      4.967      0.000       0.118       0.272
age_45-54                           0.2790      0.039      7.144      0.000       0.202       0.356
age_55-64                           0.2865      0.040      7.154      0.000       0.208       0.365
age_65+                             0.3081      0.043      7.118      0.000       0.223       0.393
cluster_tag_medium_spenders         6.8912      0.612     11.254      0.000       5.691       8.091
cluster_tag_small_spenders        -18.3338      1.195    -15.342      0.000     -20.676     -15.992
==============================================================================
Omnibus:                    45479.879   Durbin-Watson:                   1.906
Prob(Omnibus):                  0.000   Jarque-Bera (JB):         69070827.677
Skew:                           7.802   Prob(JB):                         0.00
Kurtosis:                     229.893   Cond. No.                     2.46e+16
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 2.14e-22. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

Clustering the data has made a definate difference changing the r-squared value from 0.51 to 0.66, lets try predict with and without one specific country to see whether the models perform better on a single country instead of the entire dataset.

### Predicting USA expenditure clustered and non clustered

USA was selected due to having accounted for the highest expenditure, visits and nights spent in scotland.

#### Prepare data to be used

In [22]:
usa_non_cluster = pd.read_csv('../data/clean_data/countries/usa.csv')

usa_clustered = clustered_survey.query("country == 'USA'").copy()
usa_clustered.drop(columns='clusters', inplace=True)

#### Check data

In [23]:
usa_non_cluster.country.unique()

array(['USA'], dtype=object)

In [24]:
usa_clustered.country.unique()

array(['USA'], dtype=object)

#### Create dummies

In [25]:
noclus_dummied = usa_non_cluster.copy()
noclus_dummied = pd.get_dummies(noclus_dummied, drop_first=True)

dummied_clus = usa_clustered.copy()
dummied_clus = pd.get_dummies(dummied_clus, drop_first=True)

#### Set predictor/response

In [26]:
noclus_predictor = noclus_dummied.drop(columns='millions_spent')
noclus_response = noclus_dummied.millions_spent
noclus_predictor = sm.add_constant(noclus_predictor)

clustered_predictor = dummied_clus.drop(columns='millions_spent')
clustered_response = dummied_clus.millions_spent
clustered_predictor = sm.add_constant(clustered_predictor)

#### Create models

In [27]:
clustered_model = sm.OLS(clustered_response, clustered_predictor).fit()
model_noncluster = sm.OLS(noclus_response, noclus_predictor).fit()

#### Non Clustered model results

In [28]:
print(model_noncluster.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:         millions_spent   R-squared:                       0.745
Model:                            OLS   Adj. R-squared:                  0.743
Method:                 Least Squares   F-statistic:                     581.3
Date:                Fri, 17 Feb 2023   Prob (F-statistic):               0.00
Time:                        12:31:49   Log-Likelihood:                -7673.3
No. Observations:                3609   AIC:                         1.538e+04
Df Residuals:                    3590   BIC:                         1.550e+04
Df Model:                          18
Covariance Type:            nonrobust
========================================================================================
                           coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------------
const                  -88.0990     13.363     -6.593      0.000    -114.299     -61.899
year                     0.0436      0.007      6.557      0.000       0.031       0.057
visits_thousand          0.9029      0.018     51.342      0.000       0.868       0.937
nights_thousand          0.0269      0.001     19.570      0.000       0.024       0.030
purpose_Holiday         -0.4425      0.100     -4.411      0.000      -0.639      -0.246
purpose_Other           -0.1772      0.161     -1.104      0.270      -0.492       0.137
purpose_Study           -0.3397      0.277     -1.227      0.220      -0.882       0.203
purpose_VFR             -0.8861      0.101     -8.778      0.000      -1.084      -0.688
mode_Sea                -0.3499      0.160     -2.183      0.029      -0.664      -0.036
mode_Tunnel              0.0565      0.187      0.302      0.762      -0.310       0.423
duration_15+ nights      0.2379      0.126      1.895      0.058      -0.008       0.484
duration_4-7 nights      0.2935      0.116      2.532      0.011       0.066       0.521
duration_8-14 nights     0.2082      0.117      1.777      0.076      -0.022       0.438
age_16-24               -0.2484      0.188     -1.324      0.186      -0.616       0.120
age_25-34               -0.2122      0.181     -1.172      0.241      -0.567       0.143
age_35-44                0.0540      0.181      0.299      0.765      -0.300       0.408
age_45-54                0.1510      0.180      0.840      0.401      -0.201       0.503
age_55-64                0.2624      0.181      1.451      0.147      -0.092       0.617
age_65+                  0.1617      0.186      0.869      0.385      -0.203       0.527
==============================================================================
Omnibus:                     3366.741   Durbin-Watson:                   1.730
Prob(Omnibus):                  0.000   Jarque-Bera (JB):           346472.225
Skew:                           4.098   Prob(JB):                         0.00
Kurtosis:                      50.296   Cond. No.                     7.93e+05
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 7.93e+05. This might indicate that there are
strong multicollinearity or other numerical problems.

#### Clustered model results

In [29]:
print(clustered_model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:         millions_spent   R-squared:                       0.815
Model:                            OLS   Adj. R-squared:                  0.814
Method:                 Least Squares   F-statistic:                     789.3
Date:                Fri, 17 Feb 2023   Prob (F-statistic):               0.00
Time:                        12:31:49   Log-Likelihood:                -7093.0
No. Observations:                3609   AIC:                         1.423e+04
Df Residuals:                    3588   BIC:                         1.436e+04
Df Model:                          20
Covariance Type:            nonrobust
===============================================================================================
                                  coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------------------
const                         -65.5039     11.403     -5.744      0.000     -87.861     -43.146
year                            0.0329      0.006      5.787      0.000       0.022       0.044
visits_thousand                 0.6270      0.019     32.806      0.000       0.590       0.664
nights_thousand                 0.0089      0.001      6.813      0.000       0.006       0.011
purpose_Holiday                -0.2885      0.086     -3.368      0.001      -0.457      -0.121
purpose_Other                  -0.1565      0.137     -1.145      0.252      -0.425       0.112
purpose_Study                  -0.3328      0.236     -1.412      0.158      -0.795       0.129
purpose_VFR                    -0.6718      0.086     -7.795      0.000      -0.841      -0.503
mode_Sea                       -0.4136      0.137     -3.019      0.003      -0.682      -0.145
mode_Tunnel                    -0.1110      0.159     -0.696      0.487      -0.424       0.202
duration_15+ nights             0.4159      0.107      3.882      0.000       0.206       0.626
duration_4-7 nights             0.3166      0.099      3.201      0.001       0.123       0.510
duration_8-14 nights            0.3628      0.100      3.628      0.000       0.167       0.559
age_16-24                      -0.0949      0.160     -0.593      0.553      -0.408       0.219
age_25-34                      -0.0150      0.154     -0.097      0.922      -0.318       0.288
age_35-44                       0.2257      0.154      1.465      0.143      -0.076       0.528
age_45-54                       0.3064      0.153      2.001      0.045       0.006       0.607
age_55-64                       0.3123      0.154      2.026      0.043       0.010       0.614
age_65+                         0.3390      0.159      2.137      0.033       0.028       0.650
cluster_tag_medium_spenders    10.9836      0.303     36.249      0.000      10.390      11.578
cluster_tag_small_spenders     -0.8054      0.108     -7.446      0.000      -1.017      -0.593
==============================================================================
Omnibus:                     3165.569   Durbin-Watson:                   1.774
Prob(Omnibus):                  0.000   Jarque-Bera (JB):           334745.270
Skew:                           3.673   Prob(JB):                         0.00
Kurtosis:                      49.606   Cond. No.                     7.95e+05
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 7.95e+05. This might indicate that there are
strong multicollinearity or other numerical problems.